<!DOCTYPE html>
<html>
<head>
  <title>EspPermissions</title>
  <%= stylesheet_link_tag    "esp-permissions/application" %>
  <%= javascript_include_tag "esp-permissions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
