<% if current_user %>
  <span class='current_user'><%= current_user.sso_auth_name %></span>
  <%= link_to 'Выход', '/sign_out', :method => :delete %>
<% else %>
  <%= link_to 'Вход в систему', user_omniauth_authorize_path(:identity)  %>
<% end %>
