<div class='esp_auth_footer_wrapper'>
  <div class='esp_auth_footer'>
    <div class='info'>
      <%= request.env['HTTP_USER_AGENT'] %>
    </div>
    <div class='developer'>
      <span class='range'>2011&ndash;<%= Date.today.year %></span>
      <a href='http://openteam.ru/' title='Сделано с любовью в OpenTeam'>OpenTeam</a>
    </div>
  </div>
</div>
