<% content_for :esp_auth_title do %>
  Журнал операций
<% end %>
<table class="journal">
  <tr>
    <th>Время</th>
    <th>Пользователь</th>
    <th>Объект</th>
    <th>Изменения</th>
    <th>Тип</th>
  </tr>
  <% collection.each do |audit| %>
    <%= render :partial => 'audit', :object => audit %>
  <% end %>
</table>

<%= paginate collection %>
